@model IEnumerable<FinalProject.Models.Product>
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-3.7.1.js"></script>

<script>
    $(document).ready(function () {
        $("#searchBox").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<div>
    <h2>View Products</h2>
    <div>
        <input type="text" class="form-control col-lg-4 ml-auto" placeholder="Search Here" id="searchBox" />
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Category</th>
                <th>Description</th>
                <th>Unit</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductId</td>
                    <td>@item.Category.Name</td>
                    <td>@item.Description</td>
                    <td>@item.Unit</td>
                    <td><img src="~/Uploads/@item.Image" style="width:150px; height:100px;" /></td>
                    <td>
                        <a href="@Url.Action("Edit", "Products", new { id = item.ProductId})" class="btn btn-primary">Edit</a>
                        <a href="@Url.Action("Delete", "Products", new { id = item.ProductId })" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

