
@if (TempData["total"] == null)
{
    <h1>Cart is empty</h1>
    <a href="@Url.Action("Index","Home")">Go back</a>
}
else
{
    <div>
        <h3>Total Item : @TempData["item_count"]</h3>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in TempData["cart"] as List<FinalProject.Models.Cart>)
                {
                    <tr>
                        <td><a href="@Url.Action("remove", "Home", new { id = item.proid })"><span>Remove</span></a></td>
                        <td>@item.proid</td>
                        <td>@item.proname</td>
                        <td>@item.price</td>
                        <td>@item.qty</td>
                        <td>Rs.@item.bill</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div>
        <div>
            <h3>Cart Total</h3>
            <hr>
            <p>
                <span>Total</span>
                <span>Rs.@TempData["total"]</span>
            </p>
        </div>
    </div>

    @* Show checkout button as per user rights *@
    if (!User.Identity.IsAuthenticated)
    {
        <a href="@Url.Action("Login","Account")">Login</a>
        <a href="@Url.Action("Register","Account")">Register</a>
    }

    if (User.Identity.IsAuthenticated && User.IsInRole("2") && TempData["cart"] != null)
    {
        using (Html.BeginForm())
        {
            <div>
                <span>Contact :</span> <input type="text" name="contact" />
                <span>Address :</span> <textarea name="address"></textarea>
                <input type="submit" value="Checkout" />
            </div>
        }
    }
}


