<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>@ViewBag.tittle </title>

</head>
<body>


    <!-- menu start -->
    <nav class="main-menu">
        <ul>



            @if (!User.Identity.IsAuthenticated)
            {

                <li class="nav-item active"><a href="@Url.Action("Index","Home")" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="@Url.Action("Login","Account")" class="nav-link">Login</a></li>
                <li class="nav-item"><a href="@Url.Action("Register", "Account")" class="nav-link">Register</a></li>
                if (TempData["cart"] != null)
                {
                    TempData.Keep();
                    <li class="nav-item cta cta-colored"><a href="@Url.Action("Checkout","Home")" class="nav-link"><span class="icon-shopping_cart"></span>[@TempData["item_count"]]</a></li>
                }

            } @if (User.Identity.IsAuthenticated)
            {

                if (User.IsInRole("1"))
                {
                    <li class="nav-item active"><a href="@Url.Action("Index","Home")" class="nav-link">Home</a></li>

                    <li class="nav-item "><span class="nav-link">Welcome to @Session["User"]</span></li>


                    <li>
                        <a href="@Url.Action("Index", "Products")">Categories</a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action("Create", "Category")">Add Category</a></li>
                            <li><a href="@Url.Action("Index", "Category")">View Categories</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="@Url.Action("Index", "Products")">Products</a>
                        <ul class="sub-menu">
                            <li><a href="@Url.Action("Create", "Products")">Add Product</a></li>
                            <li><a href="@Url.Action("Index", "Products")">View Products</a></li>
                        </ul>
                    </li>




                    <li class="nav-item"><a href="@Url.Action("GetAllUser", "Home")" class="nav-link">Users</a></li>
                    <li class="nav-item"><a href="@Url.Action("GetAllOrderDetail", "Home")" class="nav-link">Orders</a></li>
                    <li class="nav-item"><a href="@Url.Action("Signout","Account")" class="nav-link">Logout</a></li>
                }
                if (User.IsInRole("2"))
                {

                    <li class="nav-item "><span class="nav-link">Welcome to @Session["User"]</span></li>
                    <li class="nav-item"><a href="@Url.Action("OrderDetail", "Home", new { id = @Session["uid"] })" class="nav-link">Orders</a></li>
                    if (TempData["cart"] != null)
                    {
                        TempData.Keep();
                        <li class="nav-item cta cta-colored"><a href="@Url.Action("Checkout","Home")" class="nav-link"><span class="icon-shopping_cart"></span>[@TempData["item_count"]]</a></li>

                    }

                    <li class="nav-item"><a href="@Url.Action("Signout","Account")" class="nav-link">Logout</a></li>
                }
            }

        </ul>




    </nav>












    @RenderBody()


</body>
</html>
